*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1F1F1F;
  color: white;
  height: 75px;
}
.left li{
  font-size: 25px;
  font-weight: bold;
  color: #FC5342;
}
.middle{
  display: flex;
  gap: 30px;
}
.middle li{
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.hover{
  display: none;
  position: absolute;
  overflow: hidden;
  margin: 0;
  width: 250px;
  border-radius: 10px;
  box-sizing: border-box;
  height: auto;
  text-align: left;
  background-color: #1F1F1F;
  padding: 10px;
  z-index: 1;
}
li.anime:hover .hover{
  display: block;
}
li.manga:hover .hover{
  display: block;
}
li.characters:hover .hover{
  display: block;
}
.right{
  display: flex;
  gap: 20px;
}
.right li input{
  width: 350px;
  height: 35px;
  padding: 5px 10px;
  border-radius: 5px;
  border: white 1px solid;
  color: white;
  background-color: transparent;
}
/* ნავიგაციის სექცია მთავრდება აქ */
/* კარუსელის სექცია იწყება აქ */
/* .carousel-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  width: 100%;
}
.carousel{
  border-radius: 20px;
  border: 1px solid gray;
  height: 362px;
  width: 1166px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;    
  cursor: pointer;
} */
/* .slide{
  min-width: 100%; თითო სლაიდი ეკრანის სიგანეა
  height: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* კარუსელის სექცია რჩება აქ */
  
    /* კარუსელი */
    /* .carousel {
      margin: 0 auto;
      border-radius: 20px;
      border: 1px solid gray;
      height: 362px;
      width: 1166px;
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        
    }
    .carousel.active {
      cursor: pointer;
    } */
    /* .slide {
      min-width: 100%; თითო სლაიდი ეკრანის სიგანეა
      height: 100%;
      flex-shrink: 0;
      scroll-snap-align: start;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3em;
      font-weight: bold;
    } */
    /* კარუსელი რჩება აქ */
.recommendations-parent{
  margin-top: 50px;
  justify-content: center;
  display: flex;
}
.recomendations-title h2{
  font-size: 30px;
  margin-bottom: 20px;
}
.recommendations{
  display: flex;
  gap: 20px;
  justify-content: center;
  
}
.anime{
  display: flex;
  flex-direction: column;
  
 }
 .anime h3{
  margin-top: 10px;
  width: 129px;
 }
.anime img{
  width: 129px;
  height: 190px;
  border-radius: 10px;
}
.div2{
      width: 290px;
}
button{
  margin-top: 15px;
  margin-left: 455px;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #515151;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
button:hover{
  opacity: 0.8;
  transition: 0.5s;
}

