*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* კარუსელის სექცია იწყება აქ */
.carousel-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  width: 100%;
}
.carousel{
  border-radius: 20px;
  border: 1px solid gray;
  height: 362px;
  width: 1166px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;    
  cursor: pointer;
}
.slide{
  min-width: 100%; /* თითო სლაიდი ეკრანის სიგანეა */
  height: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* კარუსელის სექცია რჩება აქ */
  
    /* კარუსელი */
    .carousel {
      margin: 0 auto;
      border-radius: 20px;
      border: 1px solid gray;
      height: 362px;
      width: 1166px;
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        
    }
    .carousel.active {
      cursor: pointer;
    }
    .slide {
      min-width: 100%; /* თითო სლაიდი ეკრანის სიგანეა */
      height: 100%;
      flex-shrink: 0;
      scroll-snap-align: start;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3em;
      font-weight: bold;
    }
    /* კარუსელი რჩება აქ */
 



