    body {
      margin: 0;
      padding: 0;
      background: #111;
      color: #fff;
      font-family: sans-serif;
    }
    .carousel {
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }
    .carousel.active {
      cursor: pointer;
    }
    .slide {
      min-width: 100vw; /* თითო სლაიდი ეკრანის სიგანეა */
      height: 100vh;
      flex-shrink: 0;
      scroll-snap-align: start;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3em;
      font-weight: bold;
    }
    
    /* Prevent images from being selected or dragged */
    .slide {
      -webkit-user-drag: none; /* prevent image dragging in WebKit */
      user-drag: none;
      -webkit-user-select: none; /* Safari/Chrome */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */
      user-select: none; /* Standard */
    }

    /* If images are nested inside slide containers, also cover img elements */
    .carousel img {
      -webkit-user-drag: none;
      user-drag: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      outline: none;
    }

